@model List<OneweekNutrition.Models.Schedul.DayCard>

<link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.2/font/bootstrap-icons.css" rel="stylesheet"/>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet" />


<div id="carouselExampleCaptions" class="carousel carousel-dark slide" data-interval="false" data-bs-ride="false">

    <div class="carousel-inner">
                <div class="carousel-item active">
                    <div class="card-group">
                            <div class="card card_slide">
                               @Model[0].DayofWeek
                                <div class="card-body">
                                    <h5 class="card-title"> @Model[0].DayOfMonth </h5>

                                                    <div class="card card_Stats">
                                                        <div class="card-body">
                                                               + @String.Format("{0:0.##}",Model[0].DayCalory)
                                                        </div>
                                                    </div>
                                                    <br />
                                                        @foreach (var item in Model[0].DishCards)
                                                        {
                                                          <div class="card" >
                                                          <div class="card-header">
                                                            @item.MealTime.ToString();
                                                            <br />
                                                                @item.Calory Kalorii

                                                          </div>
                                                          <ul class="list-group list-group-flush">
                                                              @foreach (var recip in item.Recipes)
                                                                    {
                                                                     <li class="list-group-item"   onclick="RecipDetails(@recip.Id)" >
                                                                        @{
                                                                            string nazwa = recip.Name + ".jpeg";
                                                                        }
                                            <img src="/Uploads/Recips/@nazwa" alt="Girl in a jacket" width="50" height="60">
                                                                         @recip.Name</li>
                                                                    }
                                                          </ul>
                                                        </div>
                                                        }
                                </div>
                            </div>

                            @for (int i = 1; i <= 2; i++)
                                {
                                     <div class="card">
                                        @Model[i].DayofWeek
                                            <div class="card-body">
                                                <h5 class="card-title"> @Model[i].DayOfMonth </h5>
                                                    <div class="card card_Stats">
                                                        <div class="card-body">
                                                             Icona + @String.Format("{0:0.##}",Model[i].DayCalory)
                                                        </div>
                                                    </div>
                                               <br />
                                                @foreach (var item in Model[i].DishCards)
                                                {
                                                    <div class="card">
                                                        <div class="card-header">
                                                            @item.MealTime.ToString();
                                                            <br />
                                                            @item.Calory Kalorii

                                                        </div>
                                                        <ul class="list-group list-group-flush">
                                                            @foreach (var recip in item.Recipes)
                                                            {
                                            <li class="list-group-item" onclick="RecipDetails(@recip.Id)">
                                                @{
                                                    string nazwa = recip.Name + ".jpeg";
                                                }
                                                <img src="/Uploads/Recips/@nazwa" alt="Girl in a jacket" width="50" height="60">
                                                @recip.Name
                                            </li>
                                                            }
                                                        </ul>
                                                    </div>
                                                }
                                            </div>
                                    </div>
                                }
                    </div>
                </div>


        @for (int i = 1; i <= 4; i+= 3)
        {
            <div class="carousel-item">
                <div class="card-group">

                    @for (int j = 0; j <= 2; j++)
                    {
                        <div class="card">
                            @Model[2+i+j].DayofWeek
                            <div class="card-body">
                                <h5 class="card-title"> @Model[2+i+j].DayOfMonth </h5>
                                <div class="card card_Stats">
                                    <div class="card-body">
                                        Icona + @String.Format("{0:0.##}",Model[2+i+j].DayCalory)
                                    </div>
                                </div>
                                <br />
                                @foreach (var item in Model[2 + i + j].DishCards)
                                {
                                    <div class="card">
                                        <div class="card-header">
                                            @item.MealTime.ToString();
                                            <br />
                                            @item.Calory Kalorii

                                        </div>
                                        <ul class="list-group list-group-flush">
                                            @foreach (var recip in item.Recipes)
                                            {
                                                <li class="list-group-item" onclick="RecipDetails(@recip.Id)">
                                                    @{
                                                        string nazwa = recip.Name + ".jpeg";
                                                    }
                                                    <img src="/Uploads/Recips/@nazwa" alt="Girl in a jacket" width="50" height="60">
                                                    @recip.Name
                                                </li>
                                            }
                                        </ul>
                                    </div>
                                }
                            </div>
                        </div>
                   <br />
                    }
                </div>
            </div>
            
        }
    </div>
</div>




<button class="carousel-control-prev carousel_NEXT_PREV" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
</button>
<button class="carousel-control-next carousel_NEXT_PREV" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
</button>






<div id="partialModal" class="modal" tabindex="-1" role="dialog">


</div>






<style>
    .card_slide{
        margin-right:10px;
        min-height:35rem;
    }

    .card_Stats{
        background-color: rgb(228,228,228);
    }

    .carousel_NEXT_PREV
    {
        width:12%;
    }

</style>





    <script>


   function RecipDetails(_id)
    {
            let formData = {
                id:_id
                            }
                            $.ajax({
                                url: "RecipDetails",
                                type: "POST",
                                data: formData,
                                success: function (response)
                                {
                                    $("#partialModal").html(response);
                                    $("#partialModal").modal('show');
                                },
                                error: function (request, status, error) {
                                    alert(request.responseText);
                                }

                            });
                        }









    </script>